# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.idea
know-nepal-geography/.mvn/wrapper/maven-wrapper.properties
know-nepal-geography/mvnw
know-nepal-geography/.mvn/wrapper/maven-wrapper.properties
know-nepal-geography/.mvn/wrapper/maven-wrapper.properties
know-nepal-geography/mvnw
know-nepal-geography/.mvn/wrapper/maven-wrapper.properties
know-nepal-geography/.mvn/wrapper/maven-wrapper.properties
know-nepal-geography/.mvn/wrapper/maven-wrapper.properties
know-nepal-geography/.mvn/wrapper/maven-wrapper.properties
know-nepal-geography/mvnw
know-nepal-geography/mvnw.cmd
know-nepal-geography/src/main/resources/application.yml
know-nepal-geography/src/main/resources/application.yml
know-nepal-geography/src/main/resources/application.yml
